/* Have ideas for improving this CSS for the general community? Submit your changes at: https://github.com/Valums-File-Uploader/file-uploader */

/* Reset styles */
/* These styles prevent unexpected inheritance and overriding of fileuploader styles by previously applied CSS */

.qq-uploader,
.qq-uploader div,
.qq-uploader ul,
.qq-uploader li,
.qq-uploader span,
.qq-uploader a 
{
    margin: 0px;
    padding: 0px;
    overflow: auto;
    position: relative;
    float: none;
}
.qq-uploader div,
.qq-uploader ul,
.qq-uploader li {
    display: block;
}
.qq-uploader span,
.qq-uploader a {
    display: inline;
}

/* Container */

.qq-uploader 
{
    position: static;
    overflow: hidden;
}

.qq-uploader input
{
    cursor: pointer;
    cursor: hand;
}

/* Button */

.qq-uploader .qq-upload-button 
{   
    cursor: hand; 
	display: block; /*or inline-block*/
	width: 105px;
	padding: 7px 0px;
	text-align: center;
	background: #880000;
	border-bottom: 1px solid #DDD;
	color: #FFF;
}
.qq-uploader .qq-upload-button-hover {
	background: #CC0000;
}
.qq-uploader .qq-upload-button-focus {
	outline: 1px dotted #000000;
}
.qq-uploader .qq-upload-button-icon 
{
    padding: 0px;
    text-align: left;
	background: none;
	outline: none;
	border: none;
	width: 15px;
	height: 15px;
}

/* Drop area */

.qq-uploader .qq-upload-drop-area,
.qq-uploader .qq-upload-extra-drop-area
{  
    position: absolute;
	width: 105px;
	min-height: 30px;
	overflow: hidden;
	padding: 0px;
	background: #FF9797;
	text-align: center;
    z-index: 1000;
}
.qq-uploader .qq-upload-drop-area span 
{
    font-size: 16px;
}
.qq-uploader .qq-upload-extra-drop-area {
	position: relative;
	margin-top: 50px;
	font-size: 16px;
	padding-top: 30px;
	height: 20px;
	min-height: 40px;
}
.qq-uploader .qq-upload-drop-area-active 
{
	background: #FF7171;
}

/* Upload-list */

.qq-uploader .qq-upload-list 
{
	list-style: none;
	position: absolute;	
    z-index: 999;
}
.qq-uploader .qq-upload-list li 
{   
	padding: 9px;
	line-height: 15px;
	font-size: 16px;
	color: #000;
	background-color: #FFF0BD;
}
.qq-uploader .qq-progress-bar-container,
.qq-uploader .qq-upload-file,
.qq-uploader .qq-upload-spinner,
.qq-uploader .qq-upload-size,
.qq-uploader .qq-upload-cancel,
.qq-uploader .qq-upload-failed-text,
.qq-uploader .qq-upload-finished 
{
    display: block;
    float: left;
    overflow: hidden;
	margin-right: 12px;
}

.qq-uploader .qq-upload-file {
}
.qq-uploader .qq-progress-bar-container {
    display: none; /* Is set to inline-block by script in all browsers except IE */
    width: 25px;
    height: 5px;
    margin-top: 5px;
    border: 1px solid black;
    background: #fff;
    margin-bottom: 2px;
}
.qq-uploader .qq-progress-bar {
    display: block;
    height: 5px; 
    background-color: Green;
}
.qq-uploader .qq-upload-spinner {
	display: inline-block;
	background: url("loading.gif");
	width: 15px;
	height: 15px;
	vertical-align: text-bottom;
	margin-bottom: 2px;
}
.qq-uploader .qq-upload-finished {
    display: none;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}
.qq-uploader .qq-upload-size,
.qq-uploader .qq-upload-cancel {
	font-size: 12px;
	font-weight: normal;
}
.qq-uploader .qq-upload-failed-text {
	display: none;
}
.qq-uploader .qq-upload-failed-icon {
    display: none;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}
.qq-uploader .qq-upload-fail .qq-upload-failed-text {
	display: inline;
}
.qq-uploader .qq-upload-list .qq-upload-success {
	background-color: #5DA30C;
	color: #FFFFFF;
}
.qq-uploader .qq-upload-list .qq-upload-fail {
	background-color: #D60000;
	color: #FFFFFF;
}

/* There is a bug in IE7 that causes problems when using z-index. Because of this the list of uploads may be hidden behind other elements. */
/* This is because IE7 incorrectly implements stacking contexts (see: http://stackoverflow.com/questions/1287439/ie7-z-index-layering-issues) */
/* To fix this problem, apply the following class to the element containing the fileuploader (or the first parent element that is in the correct stacking context). */

.file-uploader-parent
{
    position: static;
	z-index: 1;
}

/* */

.qq-uploader .qq-upload-list
{
    /*
    left: 5px;
    bottom: 0px;
    */
}
/*
.qq-uploader .qq-upload-list li
{
    background: #fff;
    margin-top: 5px;
    border: 1px solid black;
}
*/
.qq-uploader .qq-upload-spinner {
	background: url("/Images/loading.gif");
}
